body {
}

#name {
    padding: 0 20px 0 20px;
}

#bev {
    padding: 0 40px 0 40px;
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 20px;
    text-align: center;
    display: none;
}

#hidden {
    display: none;
}